AutoService/src/main/resources/wsdl/consultarConductoresRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns1="http://com.taller" targetNamespace="http://com.taller" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:element name="consultarConductoresRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="tipoLicencia" type="xs:string"/>
                <xs:element name="nombre" type="xs:string"/>
                <!-- Otros elementos relacionados con la consulta de conductores aquí -->
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
